body {
  background-color: cornflowerblue;
}
.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  /* border: 2px solid red; */
  font-family: arial;
  font-size: 16px;
  background-color: white;
  border-radius: 20px;
}
h2 {
  text-align: center;
}
.container div {
  text-align: center;
}
input {
  width: 250px;
  padding: 5px;
}
button {
  width: 70px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: cornflowerblue;
  border: none;
  color: white;
  border-radius: 10px;
}
